apiVersion: v1
kind: Service
metadata:
  name: app-purchase-internal
  labels:
    app: app
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
    service.beta.kubernetes.io/aws-load-balancer-internal: "true"
spec:
  type: LoadBalancer
  selector:
    app: app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
      nodePort: 30001
